<div>
    <mat-card class="cardStyle">
        <h2>Login Below With Google</h2>
        <div id="buttonDiv"></div> 
    </mat-card>
</div>



<!-- <div *ngIf="isLoggedIn()" >
    <div class="container">Hi and Welcome!</div>
    <div class="container"> Name: {{userInfo?.info?.name}} </div>
    <div class="container"> Email: {{userInfo?.info?.email}} </div>
    <div class="container"> <img src="{{userInfo?.info?.picture}}" alt="user-image" > </div>
    <div class="container">
        <button (click)="logOut()" > Logout from Google </button>
    </div>
</div> -->
